:root, html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    position: relative;
}

#deploy-unit-panel {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 4px;
    background-color: #54545454; 
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.level-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.level-row p {
    margin: 0px;
}