:root, html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    position: relative;
}

#deploy-unit-panel {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 4px;
    background-color: #54545454; 
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 302px;
    height: 368px;
}

#rounds-panel {
    position: absolute;
    top: 400px;
    left: 5px;
    width: 200px;
    height: 135px;
    background-color: #54545454;
    padding: 4px;
}
#round-cost-panel {
    margin-bottom: 12px;
}
#round-cost-panel p, #round-cost-panel ul{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
#round-cost-panel ul {
    margin-left: 1rem;
}

.level-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.level-row p {
    margin: 0px;
}

#units-panel {
    position: absolute;
    bottom: 10px;
    right: 5px;
    width: 400px;
    height: 300px;
    background-color: #54545454;
    padding: 4px;
}

#units-list {
    height: 240px;
    overflow-y: auto;
}

.unit-item {
    border: 1px solid #ccc;
    padding: 8px;
    margin-bottom: 8px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-radius: 8px; /* a little rounding? in MY opbp?! */
}
.unit-item p {
    margin: 0px;
}
.unit-actions {
    margin-top: 4px;
    display: flex;
    gap: 4px;
}
button:disabled {
    background-color: #888888;
    color: #444444;
cursor: not-allowed;
}